.country {
  border: 2px solid skyblue;
  margin: 15px;
  padding: 10px;
  padding: 8px;
  border-radius: 20px;
  width: 250px;
  height: 350px;
}


.country img {
  width: 250px;
}

.visited {
  background-color: chartreuse;
}

.flag-container img {
  width: 50px;
}